# Build & Distribution
dist/
build/
out/
*.zip
*.crx
*.pem

# Dependencies
node_modules/
package-lock.json
yarn.lock

# local Secrets
.secrets/

# Environment & Secrets
.env
.env.local
keys.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor Specific
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
